body {
    background: radial-gradient(ellipse at bottom,
            #0b0114 0%,
            rgba(20, 0, 40, 0.8) 40%,
            #000 80%);
    min-height: 100vh;
    color: #fff;
    font-family: "Michroma", sans-serif;
    padding: 0%;
    margin: 0%;
}

.containerPrimeiro {
    background: radial-gradient(ellipse at bottom,
            #a855f7 0%,
            rgba(20, 0, 40, 0.8) 40%,
            #000 80%);
}

.containerSegundo {
    background-color: #03010A;
    width: 100%;
    height: 50vh;
}