.projectsSection {
  background: #03010A;
  padding: 5% 10%;
  text-align: center;
  color: #fff;
}

.projectsTitle {
  font-size: 2em;
  margin-bottom: -1%;
}

.projectsGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
  justify-content: center;
}

.projectCard {
  background: #0b0114;
  border-radius: 20px;
  width: 250px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(168,85,247,0.3);
  margin-top: 5%;
}

.projectCard:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 0 25px rgba(168,85,247,0.8), 
              0 0 50px rgba(168,85,247,0.5);
}

.projectImg {
  width: 100px;
  height: 100px;
  border-radius: 50%; 
  object-fit: cover;
  margin-bottom: 15px;
  border: 3px solid #a855f7;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.projectCard:hover .projectImg {
  transform: scale(1.1);
  box-shadow: 0 0 15px rgba(168,85,247,0.8);
}

.projectName {
  font-size: 1.2em;
  margin: 10px 0 5px;
  color: #fff;
}

.projectDesc {
  font-size: 0.85em;
  color: #ddd;
  margin-bottom: 15px;
  line-height: 1.3;
}

.projectButton {
  background: linear-gradient(135deg, #a855f7, #9333ea);
  border: none;
  border-radius: 50px;
  padding: 8px 20px;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s ease;
  box-shadow: 0 0 8px rgba(168, 85, 247, 0.6);
}

.projectButton:hover {
  transform: translateY(-2px) scale(1.05);
  box-shadow: 0 0 15px rgba(168,85,247,0.9),
              0 0 30px rgba(168,85,247,0.6);
}

.projectButton:active {
  transform: scale(0.97);
  box-shadow: 0 0 10px rgba(168,85,247,0.7);
}